fileTypes: [
  "pf\.conf"
]
name: "PF Packet Filtering"
patterns: [
  {
    comment: "variables"
    match: "\\$[A-Za-z0-9_\\-]+"
    name: "variable.pfconf"
  }
  {
    comment: "comments"
    match: "^\\#.*$"
    name: "comment.line.pfconf"
  }
  {
    comment: "tables"
    match: "<[a-zA-Z0-9_\\-\\.]+>"
    name: "markup.bold.pfconf"
  }
  {
    comment: "operators"
    match: "[\\!:<>,]"
    name: "constant.pfconf"
  }
  {
    comment: "lists"
    match: "[{}\\(\\)]"
    name: "storage.modifier.pfconf"
  }
  {
    comment: "numeric netmasks"
    match: "\\/[0-9]+"
    name: "markup.italic.pfconf"
  }
  {
    captures:
      "1":
        name: "string.pfconf"
    comment: "strings"
    match: "[\\\"](.+)[\\\"]"
    name: "string.pfconf"
  }
  {
    captures:
      "1":
        name: "entity.name.pfconf"
    comment: "variables defs"
    match: "^(\\S+)\\s*="
    name: ""
  }
  {
    comment: "keywords qualifier"
    match: "(quick|persist)"
    name: "markup.heading.pfconf"
  }
  {
    comment: "keywords tag"
    match: "(tagged|tag)"
    name: "markup.quote.pfconf"
  }
  {
    comment: "keywords atom"
    match: "(all|any|yes|no|drop|return)"
    name: "invalid.illegal.pfconf"
  }
  {
    comment: "keywords builtin"
    match: "(proto|inet6|inet|tcp|udp|icmp6|icmp|port|other|carp|pfsync|first|opening|closing|single|finwait|established|closed|multiple|error|states|frags|interval|frag)"
    name: "markup.list.pfconf"
  }
  {
    comment: "keywords def"
    match: "(label|user|file|timeout|limit|optimization|block-policy|loginterface|require-order|skip|synproxy|state|parent|bandwidth|static-port)"
    name: "entity.name.pfconf"
  }
  {
    comment: "keywords main"
    match: "(altq|anchor|antispoof|binat|pass|block|queue|match|scrub|table|set|in|out|rdr-to|divert-to|route-to|reply-to|nat-to|nat|rdr)"
    name: "keyword.control.pfconf"
  }
  {
    comment: "keywords attribute"
    match: "(log)"
    name: "storage.pfconf"
  }
]
scopeName: "source.pfconf"
